@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(./background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;

  position: fixed;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(164, 0, 141, 0.3);
  background: linear-gradient(90deg, rgba(164, 0, 141, 0.3) 0%, rgba(0, 91, 235, 0.3) 100%);
}

.cards {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  overflow-y: auto;
  &__container {
    margin: auto;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.card-tilt {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 5.5vh 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  overflow: hidden;
  &__img {
    position: absolute;
    object-fit: cover;
    height: 400px;
    width: 100%;
    transition: 500ms;
  }
  &__content {
    padding: 20px;
    text-align: center;
    transition: 500ms;
    transform: translateY(100px);
    opacity: 0;
  }
  &:hover &__content {
    transform: translateY(0);
    opacity: 1!important;
    transition: 500ms;
  }
  &:hover &__img {
    top: -101%;
    opacity: 0;
    transition: 500ms;
  }
  &__title {
    position: absolute;
    top: -80px;
    // top: -0.95em;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.15);
    pointer-events: none;
  }
  &__subtitle {
    font-size: 1.8em;
    color: #fff;
    font-weight: 700;
    pointer-events: none;
  }
  &__title:hover,
  &__subtitle:hover {
    font-weight: 900;
  }
  &__text {
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
  }
  &__link {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}


.nav {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 20px rgb(0 0 0 / 25%);

  position: relative;
  z-index: 999;
  &__link {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: white;
    text-decoration: none;

    margin: 0 0.5em;
    &.--active {
      font-weight: 900;
    }
  }
}