@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('./background.jpg');
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(164, 0, 141, 0.2);
  background: linear-gradient(90deg, rgba(164, 0, 141, 0.2) 0%, rgba(0, 91, 235, 0.2) 100%);
}

.cards {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9;
}

.card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  overflow: hidden;
  &__content {
    padding: 20px;
    text-align: center;
    transition: .5s;
    transform: translateY(100px);
    opacity: 0;
  }
  &:hover &__content {
    transform: translateY(0);
    opacity: 1;
  }
  &__title {
    position: absolute;
    top: -80px;
    // top: -0.95em;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  &__subtitle {
    font-size: 1.8em;
    color: #fff;
    pointer-events: none;
  }
  &__text {
    font-size: 1em;
    color: #fff;
    font-weight: 600;
  }
  &__link {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}