.btn-circle-fill {
  display: flex;
  align-items: center;
  height: 53px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 53px;
  padding: 11px 17px;
  cursor: pointer;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 1em;

  color: #000;
  box-sizing: border-box;
  transition: 1000ms;
  overflow: hidden;
  position: relative;
  z-index: 3;
  color: #000;
  border: 1px solid #000;
  &.--black {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
  }
  &__text {
    color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;

    position: relative;
    z-index: 9;
    &.alternative {
      transition-delay: 200ms;
      color: #000;
    }
  }
  &.--black &__text {
    &.alternative {
      color: #fff;
    }
  }
  &:hover {
    z-index: 9;
    transition-delay: 300ms;
    transition: 1000ms;
    border: 1px solid rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.75));
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 1), 0 0 8px rgba(255, 255, 255, 1), 0 0 16px rgba(255, 255, 255, 0.85),
      0 0 32px rgba(255, 255, 255, 0.7), 0 0 64px rgba(255, 255, 255, 0.55);
  }
  &.--black:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.75));
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 1), 0 0 8px rgba(0, 0, 0, 1), 0 0 16px rgba(0, 0, 0, 0.85),
      0 0 32px rgba(0, 0, 0, 0.7), 0 0 64px rgba(0, 0, 0, 0.55);
  }
  &__filler {
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: 1;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition-delay: 200ms;
    transition: width 1000ms, height 1000ms;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 16px rgba(0, 0, 0, 1), 0 0 32px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    top: 0;
  }
  &.--black &__filler {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 16px rgba(255, 255, 255, 1), 0 0 32px rgba(255, 255, 255, 0.75);
  }

  &:hover &__filler {
    width: 700px;
    height: 700px;
  }
  &:hover &__text.alternative {
    color: #000;
  }
  &.--black &__text.alternative {
    color: #fff;
  }
  @media screen and (max-width: 330px) {
    font-size: 17px;
  }
}
