<!DOCTYPE html>
<html lang="ru" class="page-components">

<head>
  <meta charset="utf-8">
  <meta name="author"
    content="Design: ; Front-end: Артём Кузнецов, web.master-artem.ru; Back-end/CMS: ; SEO: ; Marketing: ;">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- for tab android 5+ -->
  <meta name="theme-color" content="#fff">

  <meta property="og:title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="vk:image" content="">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FrontEnd Components</title>
  <meta name="description" content="GitHub | FrontEnd Components">
  <link rel="stylesheet" href="../css/style.min.css">
  <link rel="stylesheet" href="./style.css">

</head>

<body>



  <nav class="nav">
    <a href="../index.html" class="nav__link">effects</a>
    <a href="../functions/index.html" class="nav__link">functions</a>
    <a href="../modules/index.html" class="nav__link">modules</a>
    <a href="./components/" class="nav__link --active">components</a>
    <a href="//web.master-artem.ru" class="nav__link">web.master-artem.ru</a>
  </nav><!-- /.nav -->



  <div class="container">



    <div data-link-to-github="https://github.com/artemijeka/btn-menu" class="js-link-to-github --mt-15">
      <link rel="stylesheet" href="./blocks/btn-menu/css/btn-menu.min.css">
      <button class="btn-menu"><span class="btn-menu__decor"></span></button>
      <script src="./blocks/btn-menu/js/btn-menu.js"></script>
    </div><!-- btn-menu -->



    <div data-link-to-github="https://github.com/artemijeka/btn-circle-fill" class="js-link-to-github --mt-15">
      <link rel="stylesheet" href="./blocks/btn-circle-fill/css/btn-circle-fill.min.css">
      <button class="btn-circle-fill --mt-15">
        <span class="btn-circle-fill__text">Кнопка</span>
        <span class="btn-circle-fill__filler"></span>
      </button>
      <button class="btn-circle-fill --black --mt-15">
        <span class="btn-circle-fill__text">Кнопка</span>
        <span class="btn-circle-fill__filler"></span>
      </button>
      <script src="./blocks/btn-circle-fill/js/btn-circle-fill.js"></script>
    </div><!-- btn-circle-fill -->



    <div data-link-to-github="https://github.com/artemijeka/select" class="js-link-to-github --mt-15">
      <link rel="stylesheet" href="./blocks/select/css/select.min.css">
      <div class="select --multiple --mt-15">
        <button class="select__btn"></button>
        <label class="select__label"><input type="checkbox" name="question1" class="select__option"
            value="Ответ на вопрос №1"><span class="select__label-text">Ответ на вопрос №1</span></label>
        <label class="select__label"><input type="checkbox" name="question1" class="select__option"
            value="Ответ на вопрос №2"><span class="select__label-text">Ответ на вопрос №2</span></label>
        <label class="select__label"><input type="checkbox" name="question1" class="select__option"
            value="Ответ на вопрос №3"><span class="select__label-text">Ответ на вопрос №3</span></label>
      </div>

      <div class="select --one --mt-15">
        <button class="select__btn"></button>
        <label class="select__label"><input type="radio" name="question1" class="select__option"
            value="Ответ на вопрос №1"><span class="select__label-text">Ответ на вопрос №1</span></label>
        <label class="select__label"><input type="radio" name="question1" class="select__option"
            value="Ответ на вопрос №2"><span class="select__label-text">Ответ на вопрос №2</span></label>
        <label class="select__label"><input type="radio" name="question1" class="select__option"
            value="Ответ на вопрос №3"><span class="select__label-text">Ответ на вопрос №3</span></label>
      </div>
      <script src="./blocks/select/js/select.js"></script>
    </div><!-- select -->



    <div data-link-to-github="https://github.com/artemijeka/checkbox" class="js-link-to-github --mt-15">
      <link rel="stylesheet" href="./blocks/checkbox/css/checkbox.min.css">
      <label class="checkbox__label --mt-15">
        <input type="checkbox" class="checkbox">
        <span class="checkbox__decor"></span>
        <span class="checkbox__text">Чекбокс</span>
      </label>
    </div><!-- checkbox -->



  </div><!-- /.cards -->



  <script src="./js/script.js"></script>
</body>

</html>