<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button filler | Заполнитель кнопки</title>
</head>

<body>



  <link rel="stylesheet" href="./blocks/btn-filler/css/btn-filler.min.css">
  <button type="submit" class="btn-filler"><span>Btn filler</span></button>
  <script src="./blocks/btn-filler/js/btn-filler.js"></script>
  <script src="./blocks/btn-filler/js/max-width.js"></script>



</body>

</html>