<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select one or multiple items | Выбор одного или несколько пунктов</title>
</head>

<body>



  <link rel="stylesheet" href="./css/select.min.css">
  <div class="select --multiple">
    <button class="select__btn"></button>
    <label class="select__label"><input type="checkbox" name="question1"
        class="select__option" value="Ответ на вопрос №1"><span
        class="select__label-text">Ответ на вопрос №1</span></label>
    <label class="select__label"><input type="checkbox" name="question1"
        class="select__option" value="Ответ на вопрос №2"><span
        class="select__label-text">Ответ на вопрос №2</span></label>
    <label class="select__label"><input type="checkbox" name="question1"
        class="select__option" value="Ответ на вопрос №3"><span
        class="select__label-text">Ответ на вопрос №3</span></label>
  </div>

  <div class="select --one">
    <button class="select__btn"></button>
    <label class="select__label"><input type="radio" name="question1"
        class="select__option" value="Ответ на вопрос №1"><span
        class="select__label-text">Ответ на вопрос №1</span></label>
    <label class="select__label"><input type="radio" name="question1"
        class="select__option" value="Ответ на вопрос №2"><span
        class="select__label-text">Ответ на вопрос №2</span></label>
    <label class="select__label"><input type="radio" name="question1"
        class="select__option" value="Ответ на вопрос №3"><span
        class="select__label-text">Ответ на вопрос №3</span></label>
  </div>
  <script src="./js/select.js"></script>



</body>

</html>