.select {
  display: flex;
  flex-direction: column;
  max-width: 392px;
  width: 100%;
  height: 37px;
  border: 1px solid #dedede;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  // scrollbar-width: none;

  position: relative;
  &__btn {
    background-image: url(../img/select.svg);
    display: inline-block;
    width: 40px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  &.--open {
    // overflow: initial;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
  }
  &__option {
    width: 392px;
    height: 37px;
  
    font-family: "Arial";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 102%;
    color: #787878;
    outline: none;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #dedede;
    border-top: none;
    border-bottom-width: 0;
    background-color: white;
    box-sizing: border-box;
    pointer-events: none;
  
    position: absolute;
    left: -1px;
    z-index: -10;
    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &__label {
    width: 392px;
    height: 37px;
    min-height: 37px;
    position: relative;
    background-color: white;
    font-family: "Arial";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 102%;
    color: #787878;
  
    border: 1px solid #dedede;
    border-left: none;
    border-top: none;
    background-color: white;
    box-sizing: border-box;
    pointer-events: none;
    cursor: pointer;
    &:last-of-type {
      border-bottom: none;
    }
    &-text {
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding-left: 10px;
    }
  }
  &.--open &__option {
    pointer-events: auto;
    border-top: 1px solid #dedede;
    &:first-of-type {
      transition: 500ms;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  
      margin-top: -1px;
    }
    &:last-of-type {
      border-bottom: 1px solid #dedede;
    }
  }
  &.--open &__label {
    pointer-events: auto;
  }
  &__option:checked ~ &__label-text {    
    background-color: #efefef
  }
}
